/* Rethink whole color scheme.  Look into flex-boxing each section */

* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}



body{
  text-align: center;
}

nav{
  height: 35px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding: 3% 0;
  background-color: #293241;
  color: #FFFFFF;  
}

#menu{
  display: inline-block;
}

header {
  min-height: 300px;
  padding: 8% 0 8% 0;
  background-color:#EE6C4D;;
  /*  */
  margin: 0 2%;
}

h1 {
  font-size: 50px;
  font-family: 'Oleo Script', cursive;
  margin: 0.5em 0;
}

#sketch {
  height: auto;
  width: 50%;
  border-radius: 20%;
}

.quote{
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Oleo Script', cursive;
}

section {
  min-height: 250px;
  margin: 0 2%;
  padding: 8% 0;
  background-color: #E0FBFC;
}

#about-me {
  width:94%;
  margin-left: 3%;
}

.logo{
  width: 12%;
  margin:10% 5%;
  height: auto;
}

section:nth-of-type(even) {
  background-color:#98C1D9;
  color: white;
}

footer {
  background-color: lightgray;
  margin: 0 2%;
}